/* @media only screen and (max-width: 399px) {
    .row .col {
        width: 100%;
    }

    .card__content__btn--active {
        border: 1px solid green;
        color: green;
    }

    .col:nth-child(2) .card {
        display: none;
    }
} */